server:
  port: 8080

spring:
  application:
    name: E-learning-App

  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        enable_lazy_load_no_trans: true
        format_sql: true
      hibernate.jdbc.lob.non_contextual_creation: true


  cloudinary:
    url: cloudinary://632641588972872:O1Ik4PlUtr5WZ6-1g6x_xbuLYdU@dwzjxsdli

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    root: INFO
    web: INFO
    org.springframework.data.repository: DEBUG

dev:
  nguyen: Nguyen-The-Anh